<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My portfolio</title>
  <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../assets/js/bootstrap.min.js">
  
</head>
<body>
<!--navigation bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="navbar-brand" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="#contact">Contact</a>
      </li>
  </ul>
</div>
</nav>


<!--Image and short intro-->
<div class="container-fluid p-5 bg-white text-black text-center">
  <center>  <img class="rounded-circle" src="../assets/img/2.gif" height="200" width="200"></center>
  <h4 style="color:red;">Ritesh khadka </h4>
 <a href="https://www.facebook.com/abhishek.bhattarai.104/"> <img src="../assets/img/1.png" height="30" width="30"></a>
</div>
</div>
<!--About Section-->
  <div class="container mt-5">
    <h2 id="about">About</h2>
    <font size="5">
     Hy!It's me Ritesh khadka from alapot kathamndu.Just before last month I gave my SEE exam.I was born and broughtup in Kathmandu.I love to play fooball. It is my hobby as well.playing football brings so much happiness to my life.beside this, I am very hardworking person. I can adapt new things easily.
</font>
</div>
<!-- Academy History Section-->
  <div class="container mt-5">
<h2>Academy History</h2>
<div class="row">
  <div class="col-lg-4 d-flex align-items-stretch">
    <div class="card border-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header"><h5 class="card-title">Basic level Examination (BLE) </h5></div>
      <div class="card-body text-secondary">
        <p class="card-text">I have passed my BLE from HVP Nepal which is located at Danchhi,kathmandu. I have passed my BLE with good result.I have got b+ in my BLE examination. </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 d-flex align-items-stretch">
    <div class="card border-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header"><h5 class="card-title">Secondary level Examination (SEE) </h5></div>
      <div class="card-body text-secondary">
        <p class="card-text">I have passed my SEE from HVP Nepal School. which is located at danchhi,kathmandu and now i am waiting for my result to come.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 d-flex align-items-stretch">
    <div class="card border-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header"><h5 class="card-title">Computer course </h5></div>
      <div class="card-body text-secondary">
        <p class="card-text">I have been taking computer course on katha layea. which is on the third floor of KL tower. The new new things are learning in this course.</p>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Contact Form -->
      <div class="container">
        <h2 id="contact">Contact Me</h2>
          <div class="row">
              <div class="col-md-8">
                  <div class="well well-sm">
                    <form>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="name"> Name </label>
                                  <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                              </div>
                              <div class="form-group">
                                  <label for="email"> email Address </label>
                                  <div class="input-group">
                                      <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                      <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                              </div>
                              <div class="form-group">
                                  <label for="subject">Subject</label>
                                  <select id="subject" name="subject" class="form-control" required="required">
                                      <option value="na" selected="">Choose One:</option>
                                      <option value="service">Job Offer</option>
                                      <option value="suggestions">Suggestions</option>
                                      <option value="product">Scholarship</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="name">Message</label>
                                  <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                      placeholder="Message"></textarea>
                              </div>
                          </div>
                          <div class="col-md-12">
                              <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">Send Message</button>
                          </div>
                      </div>
                    </form>
                  </div>
              </div>
              <div class="col-md-4">
                <form>
                  <legend><span class="glyphicon glyphicon-globe"></span> Adress</legend>
                  <address>
                      <strong></strong><br>
                      Alapot,Kathmandu<br>
                      <abbr title="Phone">P:</abbr>
                      9851060064<br>
                      +977-9881303464
                  </address>
                  <address>
                      <strong>Ritesh Khadka</strong><br>
                      <a href="mailto:#">khadkaritesh467@gmail.com</a>
                  </address>
                </form>
              </div>
          </div>
      </div>


<!--footer-->
  <footer class="page-footer font-small dark">

    <!--Copyright-->
      <div class="footer-copyright text-center py-3"> &copy; 2020 copyright:
      
      </div>
      <!--Copyright-->
      </footer>


  </form>

</body>
</html>
